{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/imagens' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,200, 300, 500, 700" rel="stylesheet"type="text/css">
    <title>
        {% block title %}
        {% endblock%}
    </title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>