{% extends 'aplication/base.html' %}
{% load static %}

{% block title %}
    moda
{% endblock %}

{% block header%}
{% endblock %}

{% block content %}
<div class="header">
    <div class="linha">
        <header>
            <div class="coluna col4">
                <img src="{% static 'css/imagens/imagem2.png' %}" alt="">
            </div>
            <div class="coluna col8">
                <nav>
                    <ul class="menu inline sem-marcador">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'moda' %}">Moda</a></li>
                        <li><a href="{% url 'beleza' %}">Beleza</a></li>
                        <li><a href="{% url 'tendencia' %}">Tendências</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>
<div class="linha">
    <section>
        <h2><strong>Veja o que está na moda</strong></h2>
        <div class="coluna col6">
            <h4>ÓCULOS DE SOL RETÂNGULAR - UM CLÁSSICO E VALE APENA APOSTAR</h4>
            <img src="{% static 'css/imagens/oculos.png' %}" alt="">
            <p>É isso mesmo, o modelo retrô está em alta e ganha cada vez mais espaço no street style. Essa peça já está confirmada para as próximas temporadas de verão em 2021, e  melhor, seu formato combina com todo tipo de rosto. Além de combinar com todo tipo de rosto, tambem combina com todo tipo de look! Sao tantas possibilidades para voce arrasar nas proximas temporadas de 2021, que voce nao pode perder tempo e precisa garantir o seu! Famosas como Billie Eilish e Kylie Jenner já aderiram a moda.</p>
        </div>
        <div class="coluna col6">
            <h4>CORRENTES E MAXI CORRENTES - SUCESSO EM 2020 CONTINUARÁ</h4>
            <img src="{% static 'css/imagens/correntes.png' %}" alt="">
            <p>Elas foram destaque nos principais desfiles internacionais e apareceram em cintos, colares, pulseiras e bolsas de bolsas. Agora, estão sendo usadas desde as mais discretas até as mais extravagantes, uma grande aposta para um novo ano que começa. O fato é que a maxi corrente vai bem, tanto com uma simples camiseta e shortinho, até com uma calça de alfaiataria com camisa, por baixo ou por cima da gola. E aí… o que acha dessa tendência?</p>
            <br>
        </div>
        <div class="coluna col4">
            <h4>BRINCOS ASSIMÉTRICOS - MODA 2021!!!</h4>
            <img src="{% static 'css/imagens/brincos.png' %}" alt="">
            <p>A assimetria será outro destaque nas bijus e joias em 2021. Cheio de estilo e modernidade, os brincos assimétricos chegaram para ficar em 2021, trazendo muito estilo e modernidade ao look.</p>
        </div>
        <div class="coluna col4">
            <h4>BUCKET BAG - MODA 2021!!!</h4>
            <img src="https://raquelrochablogbr.files.wordpress.com/2020/09/unnamed.jpg" alt="" width="400" height="300">
            <p>Hit dos anos 1990 (quem não se lembra da febre da Noé, modelo monogramado da Louis Vuitton?), as bucket bags seguem em alta em mais em ano cheio de stilo.</p>
        </div>
        <div class="coluna col4">
            <h4>MIÇANGAS COLORIDAS - MODA 2021!!!</h4>
            <img src="https://escoladeestilo.com.br/wp-content/uploads/2020/09/Buzios-2.jpg" alt="" height="200">
            <p>Lembra das pulseiras coloridas dos anos 80, 90? Vááárias + juntas + misturadas formando um combo? São essas que estarão em alta. Aliás, elas ensaiam voltar às trends em quase todo verão, mas dessa vez elas se uniram aos mix de correntes e voltaram, voltaram com tudo. Estarão também presentes nas tornozeleiras e colares.</p>
        </div>
    </section>
</div>
<div class="conteudo-extra"></div>
<div class="linha">
    <div class="coluna col7">
        <section>
            <h2><strong>Opinões</strong></h2>
            <p>Quando estilistas passam a atuar como artistas ao criar conceitos que vão além do vestuário e sua funcionalidade, questionar a superficialidade e a efemeridade ou estabelecer uma ruptura impactante, a moda se torna notável por sua performance e passa a se enquadrar como categoria artística.
            Entretanto, ainda que moda e arte sejam dois campos da cultura, a moda tende a atuar de modo mais afirmativo, ao reforçar valores já estabelecidos no meio social e de consumo, ao passo que a arte opera de forma mais crítica ao questionar esses mesmos valores.
            Sendo assim…
            Constata-se que a moda estabelece vínculos com a cultura, mas sua legitimação como arte costuma ocorrer quando há uma particularidade compreendida também por críticos e sua expectativa no campo ideológico.
            Já que ao citar, por exemplo, os museus de moda nota-se que eles funcionam como uma mostra histórico-cultural de documentação social, com poucas obras difundidas como referência artística em si, mas, em sua maioria, como trajes valorizados por trabalhos artesanais ou mesmo de relação intrínseca com seus criadores ou para quem foram criados.
            </p><em>WRITTEN BY: Eliane Tales Especialista em Marketing, Branding, Comunicação e E-commerce para o mercado de Moda.</em>
        </section>
    </div>
    <div class="coluna col5">
        <h3><em><strong>Última notícias</strong></em></h3>
        <ul class="sem-mercador sem-padding noticias">
            <li>
                <img src="https://www.wefashiontrends.com/wp-content/uploads/2021/01/familia-kardashian.jpg" alt="">
                <h4>10 tendências que as Kardashians trouxeram de volta à moda</h4>
                <p>Se há uma coisa que ninguém pode negar, é o serviço que as Kardashians prestaram à massa da população corporal curvilínea. Antes de começarem a estar sob os holofotes, o cânone estético era bem diferente e, graças à forma de exaltar as próprias curvas, implantaram no imaginário uma mudança que revolucionou a sociedade.<a target="_blank" href="https://www.wefashiontrends.com/10-tendencias-que-as-kardashians-trouxeram-de-volta-moda/" rel="external"> Leia mais &raquo;</a></p>
            </li>
            <li>
                <img src="https://img.r7.com/images/looks-monocromaticos-como-usar-e-melhores-inspiracoes-para-voce-04012021093038980?dimensions=660x360" alt="">
                <h4>Looks monocromáticos, como usar? Melhores inspirações para você</h4>
                <p>Antes de mais nada, sabemos que o mundo da moda está sempre se reinventando, porém, existem composições que são atemporais, como os looks monocromáticos.
                <a target="_blank" href="https://lifestyle.r7.com/moda/area-de-mulher/looks-monocromaticos-como-usar-melhores-inspiracoes-para-voce-04012021" rel="external"> Leia mais &raquo;</a></p>
                </li>
                <li>
                <img src="https://img.r7.com/images/confira-o-look-dos-famosos-para-o-reveillon-01012021094832045?dimensions=369x209" alt="">
                <h4>Branco dominou: confira o look dos famosos para o Réveillon</h4>
                <p>Em clima de romance ou em família, famosos não dispensaram o tradicional look branco para passarem o Réveillon e comemorarem a chegada de 2021.<a target="_blank" href="https://entretenimento.r7.com/famosos-e-tv/fotos/branco-dominou-confira-o-look-dos-famosos-para-o-reveillon-01012021#!/foto/1" rel="external"> Leia mais &raquo;</a></p>
            </li>
        </ul>
        </ul>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="linha">
        <footer>
            <div class="coluna col12">
                <img src="{% static 'css/imagens/imagem2.png' %}" width="50" height="50">Look Style Moda
            </div>
        </footer>
    </div>
</div>
{% endblock  %}